<template>
<div class="input">
  <div class="top">
    <div class="primary">
      <span v-if="required">•</span>
      <label :for="labelID">{{label}}</label>
      <span v-if="labelExtra" class="info" :title="labelExtra">i</span>
    </div>
    <div class="secondary">
      <span class="right" v-if="instructions">{{instructions}}</span>
      <span v-if="instructionsExtra" class="info right" :title="instructionsExtra">i</span>
      <a :href="more" v-if="more" class="right">Více informací</a>
    </div>
  </div>
  <slot></slot>
</div>
</template>

<script>
export default {
  name: 'BaseInput',
  inheritAttrs: false,
  props: {
    required: Boolean,
    label: String,
    instructions: String,
    labelExtra: String,
    instructionsExtra: String,
    more: String,
    labelID: String
  }
}
</script>

<style>
.input {
  width: 500px;
  margin: 0 auto
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.input input,
textarea {
  width: 100%;
}

.info {
  border: 1px solid black;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  line-height: 15px;
  display: inline-block;
  text-align: center;
}
</style>
