<template>
    <BaseInput v-bind="$props">
        <template v-for="option in options">
            <input v-bind="$attrs" :id="option.value" :name="labelID"
            v-model="selectedItems"
            :value="option.value" @change="updateValue">
            <label :for="option.value">{{ option.text }}</label><br>
        </template>
    </BaseInput>
</template>

<script>
import BaseInput from './BaseInput'

export default {
    name: 'ChoiceInput',
    inheritAttrs: false,
    components: {
      BaseInput
    },
    props: {
        required: Boolean,
        label: String,
        instructions: String,
        labelExtra: String,
        instructionsExtra: String,
        more: String,
        labelID: String,
        options: Array,
        value: Array
    },
    data() {
        return {
            selectedItems: this.value || []
        }
    },
    methods: {
        updateValue() {
            this.$emit('input', this.selectedItems)
        }
    }
}

</script>

<style>
    input[type="checkbox"], input[type="radio"] {
        width: auto;
    }
</style>
