<template>
    <BaseInput v-bind="$props">
        <input type="range" v-bind="$attrs" :id="labelID" :value="value" @input="$emit('input', $event.target.value)">
    </BaseInput>
</template>

<script>
import BaseInput from './BaseInput'

export default {
    name: 'RangeInput',
    inheritAttrs: false,
    components: {
      BaseInput
    },
    props: {
        required: Boolean,
        label: String,
        instructions: String,
        labelExtra: String,
        instructionsExtra: String,
        more: String,
        labelID: String,
        value: String
    }
}

</script>

<style>
    /* .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    } */
</style>
