<template>
    <BaseInput v-bind="$props">
      <select :id="labelID" @change="$emit('input', $event.target.value)">
        <option value="" disabled selected></option>
        <option v-for="option in options" :value="option.value" v-bind="$attrs" >{{option.text}}</option>
      </select>
    </BaseInput>
</template>

<script>
import BaseInput from './BaseInput'

export default {
    name: 'SelectInput',
    components: {
      BaseInput
    },
    props: {
        required: Boolean,
        label: String,
        instructions: String,
        labelExtra: String,
        instructionsExtra: String,
        more: String,
        labelID: String,
        options: Array,
        selected: String
    }
}

</script>
