<template>
    <BaseInput v-bind="$props">
        <quill-editor v-if="wysiwyg" :options="editorOptions" :content="value" @input="quillChange($event)"></quill-editor>
        <textarea :id="labelID" v-bind="$attrs" :value="value" @input="$emit('input', $event.target.value)" v-if="!wysiwyg"></textarea>
    </BaseInput>
</template>

<script>
import BaseInput from './BaseInput'

export default {
    name: 'TextareaInput',
    inheritAttrs: false,
    components: {
      BaseInput
    },
    props: {
        required: Boolean,
        label: String,
        instructions: String,
        labelExtra: String,
        instructionsExtra: String,
        more: String,
        labelID: String,
        value: String,
        wysiwyg: Boolean
    },
    data() {
        return {
            editorOptions: {
                modules: {
                    toolbar: [
                        ["bold", "italic"],
                        [{"list": "ordered"}, {"list": "bullet"}],
                        ["link", "clean"]
                    ]
                }
            }
        }
    },
    methods: {
        quillChange(event) {
            this.$emit("input", event)
        }
    }
}

</script>
