<template>
    <BaseInput v-bind="$props">
        <input v-bind="$attrs" :id="labelID" :value="value" @input="$emit('input', $event.target.value)">
    </BaseInput>
</template>

<script>
import BaseInput from './BaseInput'

export default {
    name: 'TextInput',
    inheritAttrs: false,
    components: {
      BaseInput
    },
    props: {
        required: Boolean,
        label: String,
        instructions: String,
        labelExtra: String,
        instructionsExtra: String,
        more: String,
        labelID: String,
        value: String
    }
}

</script>
