<template>
<div id="app">
  <TextInput v-bind="textInputProps" required v-model="header"></TextInput>
  <TextareaInput v-bind="textareaProps" placeholder="test" wysiwyg v-model="paragraph"></TextareaInput>
  <SelectInput v-bind="selectProps" v-model="selected"></SelectInput>
  <TextInput v-bind="passwordInputProps" type="password" v-model="password"></TextInput>
  <RangeInput v-bind="rangeInputProps" v-model="range"></RangeInput>
  <TextInput v-bind="rangeInputProps" type="number" labelID="number" v-model="range" placeholder="0"></TextInput>
  <TextInput v-bind="textInputProps" type="email" placeholder="test" labelID="email"></TextInput>
  <ChoiceInput v-bind="selectProps" type="checkbox" v-model="choice"></ChoiceInput>
  <h1>{{ header }}</h1>
  <p style="white-space: pre-line;" v-html="paragraph"></p>
  <p>{{ selected }}</p>
  <p>{{ password }}</p>
  <p>{{ range }}</p>
  <p>{{ choice }}</p>
</div>
</template>

<script>
import TextareaInput from './components/TextareaInput'
import SelectInput from './components/SelectInput'
import TextInput from './components/TextInput'
import RangeInput from './components/RangeInput'
import ChoiceInput from './components/ChoiceInput'
// import CheckboxInput from './components/CheckboxInput'

export default {
  name: 'App',
  components: {
    TextareaInput,
    SelectInput,
    TextInput,
    RangeInput,
    ChoiceInput,
    // CheckboxInput
  },
  data() {
    return {
      header: "Test",
      paragraph: "Lorem ipsum",
      selected: "",
      password: "",
      range: "",
      choice: [],
      textareaProps: {
        label: "Paragraph",
        instructions: "Textarea instructions",
        labelExtra: "Testik",
        labelID: "textarea"
      },
      selectProps: {
        label: "Pohlaví",
        labelExtra: "testik",
        instructions: "Select instructions",
        instructionsExtra: "testik",
        labelID: "select",
        options: [{
            text: 'Muž',
            value: 'male'
          },
          {
            text: 'Žena',
            value: 'female'
          },
          {
            text: 'Nevím',
            value: 'transgender'
          },
        ]
      },
      textInputProps: {
        label: "Header",
        instructions: "Text Input instructions",
        labelID: "textinput"
      },
      passwordInputProps: {
        label: "Password Input",
        labelExtra: "Extra info",
        labelID: "password"
      },
      rangeInputProps: {
        label: "Range input",
        more: "#link",
        instructions: "test",
        instructionsExtra: "testik",
        min: 0,
        max: 10,
        labelID: "range"
    }
    }
  }
}
</script>
